{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image:  url('{{ url_for('static', filename='img/bbqguy.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Us</h1>
            <span class="subheading">Q is what we do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Welcome to the BBQ Reporter.  This site was started by two guys who love BBQ. We reside in Kansas City, MO home of some of the worlds best BBQ.  We made this site for anyone to share anything BBQ related.  Restaurant Reviews are always welcome.  Please be respectful of others opinions and use kind language. </p>
        <br>
        <p>"Just because we eat meat doesn't mean we are animals!"  --somebody</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}